main {
  width: 100%;
  max-width: 36rem;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.create-download {
  margin: 2rem 1rem;
}

.control-group {
  margin: 1rem 0;
  display: flex;
}

.control-group input[type="text"] {
  width: 100%;
  padding: .8rem;
  border: 1px solid lightblue;
}

.control-group .form-control-sm,
.control-group input[type="text"].form-control-sm {
  width: 50%;
}

.form-control-sm + .form-control-sm {
  margin-left: 1rem;
}

button {
  background: lightcyan;
  border: 1px solid lightblue;
  color: #444;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

@media (max-width: 36rem) {
  button {
    width: 100%;
  }
}
