<!doctype html>
<html>
  <head>
    <meta charset="utf8">
    <title>Plex Feeder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main id="main">
      <section id="form"></section>
      <section id="downloads"></section>
    </main>

    <script>
      window._ACTIVE_DOWNLOADS = <%- JSON.stringify(downloads) %>;
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
  </body>
</html>
